<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
    <title>列表</title>



</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>商品订单管理<span
        class="c-gray en">&gt;</span>商品订单列表<a class="btn btn-success radius r"
                                              style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container">
    <form action="#" th:action="@{/recycle/shopOrder}" method="post">
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <fieldset class="layui-elem-field">
                <legend>商品订单列表</legend>
                <div class="layui-field-box">

                    <hr style="margin: 0">
                    <div class="cl pd-5 bg-1 bk-gray">
						<span class="l">
						<a href="javascript:;"
                           onclick="deleteAll('/recycle/shopOrder/deleteAll')"
                           class="layui-btn  layui-btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
						</span>
                        <span class="r wei-height">共有数据：<strong th:text="${pageInfo.total}"></strong> 条</span>
                    </div>
                    <hr>

                    <div class="cl pd-5 bg-1 bk-gray ">
                        <div class="searchByField">

                            <!--                                         <input type="input-text" class="input-text" th:value="${searchInfo.status}" name="status" placeholder="搜索订单状态" id="status"/>-->

                            <select class="input-text" ”placeholder="按状态搜索" th:value="${searchInfo.status}" id="status" name="status"
                                    style="width: 23.5%;margin-top: 5px">
                                <option value="" >选择状态</option>
                                <option value="1" th:attr="selected=${searchInfo.status == 1}" >代付款</option>
                                <option value="2" th:attr="selected=${searchInfo.status == 2}">待发货</option>
                                <option value="3" th:attr="selected=${searchInfo.status == 3}">待收货</option>
                                <option value="4" th:attr="selected=${searchInfo.status == 4}">待评价</option>

                            </select>

                            <input type="input-text" class="input-text" th:value="${searchInfo.orderNo}" name="orderNo" placeholder="搜索订单号" id="orderNo"/>
                            <input type="input-text" placeholder="搜索下单时间" name="createtimeSpace" th:value="${createtimeSpace}" class="input-text  timeSpace" autocomplete="off"/>
                            <input type="input-text" class="input-text" th:value="${searchInfo.phone}" name="phone" placeholder="搜索用户电话号码" id="phone"/>
                            <input type="input-text" class="input-text" th:value="${searchInfo.express}" name="express" placeholder="搜索快递单号" id="express"/>
                            <button type="submit"
                                    class="layui-btn  layui-btn-success radius"><i
                                    class="Hui-iconfont">&#xe665;</i> 搜索

                            </button>
                        </div>
                    </div>

                    <table class="layui-table text-c">
                        <thead>
                        <tr class="text-c">
                            <th width="25"><input type="checkbox" name="" value=""/></th>
                            <th width="25">序号</th>
                            <th width="25">下单人姓名</th>
                            <th width="40">订单状态</th>
                            <th width="40">订单号</th>
                            <th width="40">下单时间</th>
                            <th width="10">订单更新时间</th>
                            <th width="40">价格</th>
                            <th width="40">用户地址</th>
                            <th width="40">用户电话号码</th>
                            <th width="40">快递单号</th>
                            <th width="100">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-c" th:if="${pageInfo.list.size() == 0}">
                            <td colspan="15"><strong>暂无数据</strong></td>
                        </tr>
                        <tr class="text-c" th:each="shopOrder,count:${pageInfo.list}">
                            <td><input type="checkbox" value="1" th:value="${shopOrder.id}"
                                       name="id"/></td>
                            <td th:text="${count.count}"></td>
                            <td th:text="${shopOrder.UserName}"></td>
                            <td th:text="${shopOrder.status == 1 ?'代付款' : (shopOrder.status == 2 ? '代发货':(shopOrder.status == 3 ? '待收货' :'待评价'))}"></td>
                            <td th:text="${shopOrder.orderNo}"></td>
                            <td th:text="${#temporals.format(shopOrder.createtime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${#temporals.format(shopOrder.updatetime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td th:text="${shopOrder.price}"></td>
                            <td th:text="${shopOrder.address}"></td>
                            <td th:text="${shopOrder.phone}"></td>
                            <td th:text="${shopOrder.express}"></td>
                            <td class="td-manage">
                                <a title="详情" href="javascript:;"
                                   th:onclick="'javascript:layer_show(\'详情\',\'/recycle/'+'shopOrder'+'/detailBefore/'+${shopOrder.id}+'\',900,500)'"
                                   class="ml-5" style="text-decoration:none"><input  class="btn btn-danger radius" type="button" th:value="详情"/></a>

                                <a title="编辑" href="javascript:;"
                                   th:onclick="'javascript:layer_show(\'编辑\',\'/recycle/'+'shopOrder'+'/editBefore/'+${shopOrder.id}+'\',900,500)'"
                                   class="ml-5" style="text-decoration:none"><input  class="btn btn-primary radius" type="button" th:value="修改订单"/></a>

                                <a title="删除" href="javascript:;"
                                   th:onclick="'javascript:deleteById(\'/recycle/'+'shopOrder'+'/delete/'+${shopOrder.id}+'\')'"
                                   class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div th:include="_pagination :: page"></div>
    </form>
</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->
<script>
    //日期时间范围选择
    laydate.render({

    });
    lay('.timeSpace').each(function(){
        laydate.render({
            elem: this

            ,type: 'date'

            ,range: true //或 range: '~' 来自定义分割字符
        });
    });

</script>
</body>
</html>