<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbyte.easy.recycle.mapper.CommentsMapper">
  <resultMap id="BaseResultMap" type="com.mbyte.easy.recycle.entity.Comments">
      <id column="id" jdbcType="BIGINT" property="id" />
      <id column="goods_id" jdbcType="BIGINT" property="goodsId" />
      <id column="parent_id" jdbcType="BIGINT" property="parentId" />
      <id column="user_id" jdbcType="BIGINT" property="userId" />
      <id column="comment" jdbcType="VARCHAR" property="comment" />
      <id column="createtime" jdbcType="TIMESTAMP" property="createtime" />
      <id column="score" jdbcType="SMALLINT" property="score" />
  </resultMap>
    <resultMap id="commentsWithUser" type="com.mbyte.easy.vo.commentsWithUser">
        <id column="id" jdbcType="BIGINT" property="id" />
        <id column="goods_id" jdbcType="BIGINT" property="goodsId" />
        <id column="parent_id" jdbcType="BIGINT" property="parentId" />
        <id column="user_id" jdbcType="BIGINT" property="userId" />
        <id column="comment" jdbcType="VARCHAR" property="comment" />
        <id column="createtime" jdbcType="TIMESTAMP" property="createtime" />
        <id column="score" jdbcType="SMALLINT" property="score" />
        <id column="nickName" jdbcType="VARCHAR" property="nickName" />
    </resultMap>
  <sql id="Base_Column_List">
              id,
      goods_id, parent_id, user_id, comment, createtime
  </sql>


    <select id="selectLeftJoinWeixinUser"  parameterType="java.lang.Integer" resultMap="commentsWithUser">
        select
        comments.id,comments.goods_id,comments.user_id,comments.`comment`,comments.createtime,comments.score,comments.createtime,weixin_user.id,weixin_user.nickName
        from comments
        LEFT JOIN weixin_user
        on comments.user_id=weixin_user.id
        where comments.goods_id=#{goodsId,jdbcType=BIGINT}
    </select>
<!--注意:在打开下面注释的时候，在执行添加和更新操作时，一定要添加事物，否则会造成无法添加和更新-->
<!--
 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from comments
       where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from  comments
       where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mbyte.easy.recycle.entity.Comments">
    insert into comments (goods_id, parent_id, user_id, comment, createtime)
    values (
         goods_id = #{goodsId,jdbcType=BIGINT},
         parent_id = #{parentId,jdbcType=BIGINT},
         user_id = #{userId,jdbcType=BIGINT},
         comment = #{comment,jdbcType=VARCHAR},
         createtime = #{createtime,jdbcType=TIMESTAMP}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.mbyte.easy.recycle.entity.Comments">
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>

      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>

      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>

      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>

      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbyte.easy.recycle.entity.Comments">
    update comments
    <set>
       <if test="goodsId != null">
         goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
       <if test="parentId != null">
         parent_id = #{parentId,jdbcType=BIGINT},
      </if>
       <if test="userId != null">
         user_id = #{userId,jdbcType=BIGINT},
      </if>
       <if test="comment != null">
         comment = #{comment,jdbcType=VARCHAR},
      </if>
       <if test="createtime != null">
         createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
       where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbyte.easy.recycle.entity.Comments">
    update comments
    set
        goods_id = #{goodsId,jdbcType=BIGINT},
        parent_id = #{parentId,jdbcType=BIGINT},
        user_id = #{userId,jdbcType=BIGINT},
        comment = #{comment,jdbcType=VARCHAR},
        createtime = #{createtime,jdbcType=TIMESTAMP},

       where id = #{id,jdbcType=BIGINT}
  </update>
-->
</mapper>