<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbyte.easy.recycle.mapper.GoodsImgMapper">
  <resultMap id="BaseResultMap" type="com.mbyte.easy.recycle.entity.GoodsImg">
      <id column="id" jdbcType="BIGINT" property="id" />
      <id column="goods_id" jdbcType="BIGINT" property="goodsId" />
      <id column="pic" jdbcType="VARCHAR" property="pic" />
      <id column="is_del" jdbcType="SMALLINT" property="isDel" />

  </resultMap>
  <sql id="Base_Column_List">
              id,
      goods_id, pic, is_del
  </sql>
    <select id="selectGoodName" resultType="com.mbyte.easy.recycle.entity.GoodsImg">
        select goods_img.id ,goods_img.goods_id,goods_img.pic,goods_img.is_del, goods.name as goodsName from goods_img left join goods on goods_img.goods_id = goods.id
        WHERE goods_img.is_del = 2

        <if test="goodsImg.goodsName != null">
            and `name` = #{goodsImg.goodsName}
        </if>
    </select>
<!--    <select id="selectGoodsName" resultType="com.mbyte.easy.recycle.entity.GoodsImg">-->
<!--        SELECT  DISTINCT goods.id,goods.name as goodsName from goods left join goods_img on goods.id = goods_img.goods_id where goods_img.is_del = 2-->
<!--    </select>-->

    <select id="selectGoodsName" resultType="com.mbyte.easy.recycle.entity.Goods">
            SELECT  DISTINCT goods.id,goods.name  from goods where is_del =2
        </select>

</mapper>