<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbyte.easy.recycle.mapper.ReadHistoryMapper">
  <resultMap id="BaseResultMap" type="com.mbyte.easy.recycle.entity.ReadHistory">
      <id column="id" jdbcType="BIGINT" property="id" />
      <id column="order_id" jdbcType="BIGINT" property="orderId" />
      <id column="is_read" jdbcType="SMALLINT" property="isRead" />

  </resultMap>
  <sql id="Base_Column_List">
              id,
      order_id, is_read
  </sql>

<!--注意:在打开下面注释的时候，在执行添加和更新操作时，一定要添加事物，否则会造成无法添加和更新-->
<!--
 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from read_history
       where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from  read_history
       where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mbyte.easy.recycle.entity.ReadHistory">
    insert into read_history (order_id, is_read)
    values (
         order_id = #{orderId,jdbcType=BIGINT},
         is_read = #{isRead,jdbcType=SMALLINT}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.mbyte.easy.recycle.entity.ReadHistory">
    insert into read_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="isRead != null">
        is_read,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>

      <if test="isRead != null">
        is_read = #{isRead,jdbcType=SMALLINT},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbyte.easy.recycle.entity.ReadHistory">
    update read_history
    <set>
       <if test="orderId != null">
         order_id = #{orderId,jdbcType=BIGINT},
      </if>
       <if test="isRead != null">
         is_read = #{isRead,jdbcType=SMALLINT},
      </if>
    </set>
       where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbyte.easy.recycle.entity.ReadHistory">
    update read_history
    set
        order_id = #{orderId,jdbcType=BIGINT},
        is_read = #{isRead,jdbcType=SMALLINT},

       where id = #{id,jdbcType=BIGINT}
  </update>
-->
</mapper>