<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbyte.easy.recycle.mapper.RecycleOrderMapper">
  <resultMap id="BaseResultMap" type="com.mbyte.easy.recycle.entity.RecycleOrder">
      <id column="id" jdbcType="BIGINT" property="id" />
      <id column="order_no" jdbcType="VARCHAR" property="orderNo" />
      <id column="user_id" jdbcType="BIGINT" property="userId" />
      <id column="courier_id" jdbcType="BIGINT" property="courierId" />
      <id column="price" jdbcType="DECIMAL" property="price" />
      <id column="appointment" jdbcType="TIMESTAMP" property="appointment" />
      <id column="address_id" jdbcType="BIGINT" property="addressId" />
      <id column="phone" jdbcType="VARCHAR" property="phone" />
      <id column="pick_code" jdbcType="VARCHAR" property="pickCode" />
      <id column="status" jdbcType="SMALLINT" property="status" />
      <id column="createtime" jdbcType="TIMESTAMP" property="createtime" />
      <id column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
      <id column="is_show" jdbcType="SMALLINT" property="isShow" />
      <id column="is_del" jdbcType="SMALLINT" property="isDel" />

  </resultMap>
  <sql id="Base_Column_List">
              id,
      order_no, user_id, courier_id, price, appointment, address_id, phone, pick_code, status, createtime, updatetime, is_show, is_del
  </sql>
    <select id="selectCouier" resultType="com.mbyte.easy.recycle.entity.WeixinUser">
        SELECT   weixin_user.nickname, weixin_user.id  FROM weixin_user where weixin_user.type = 2
    </select>
    <select id="selectAll" resultType="com.mbyte.easy.recycle.entity.RecycleOrder">
        select recycle_order.*,user_prop.address,  weixin_user.nickname as nickName  from recycle_order
        left JOIN weixin_user on weixin_user.id = recycle_order.courier_id
        left join user_prop on user_prop.id = recycle_order.address_id
        where recycle_order.is_del = 2

        <if test="recycleOrder.status != null">
            and status = #{recycleOrder.status}
        </if>
        <if test="recycleOrder.orderNo != null">
            and order_no = #{recycleOrder.orderNo}
        </if>
        <if test="recycleOrder.phone != null">
            and recycle_order.phone = #{recycleOrder.phone}
        </if>
        order by recycle_order.createtime desc
    </select>
    <select id="selectHistory" resultType="com.mbyte.easy.recycle.entity.RecycleOrder">
          select recycle_order.*,user_prop.address,  weixin_user.nickname as nickName  from recycle_order
        left JOIN weixin_user on weixin_user.id = recycle_order.courier_id
        left join user_prop on user_prop.id = recycle_order.address_id
        left  join read_history on read_history.order_id = recycle_order.id
        where recycle_order.is_del = 2 and recycle_order.status = 3
         order by recycle_order.createtime desc
        </select>

<!--注意:在打开下面注释的时候，在执行添加和更新操作时，一定要添加事物，否则会造成无法添加和更新-->
<!--
 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from recycle_order
       where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from  recycle_order
       where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mbyte.easy.recycle.entity.RecycleOrder">
    insert into recycle_order (order_no, user_id, courier_id, price, appointment, address_id, phone, pick_code, status, createtime, updatetime, is_show, is_del)
    values (
         order_no = #{orderNo,jdbcType=VARCHAR},
         user_id = #{userId,jdbcType=BIGINT},
         courier_id = #{courierId,jdbcType=BIGINT},
         price = #{price,jdbcType=DECIMAL},
         appointment = #{appointment,jdbcType=TIMESTAMP},
         address_id = #{addressId,jdbcType=BIGINT},
         phone = #{phone,jdbcType=VARCHAR},
         pick_code = #{pickCode,jdbcType=VARCHAR},
         status = #{status,jdbcType=SMALLINT},
         createtime = #{createtime,jdbcType=TIMESTAMP},
         updatetime = #{updatetime,jdbcType=TIMESTAMP},
         is_show = #{isShow,jdbcType=SMALLINT},
         is_del = #{isDel,jdbcType=SMALLINT}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.mbyte.easy.recycle.entity.RecycleOrder">
    insert into recycle_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="courierId != null">
        courier_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="appointment != null">
        appointment,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="pickCode != null">
        pick_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="isShow != null">
        is_show,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>

      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>

      <if test="courierId != null">
        courier_id = #{courierId,jdbcType=BIGINT},
      </if>

      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>

      <if test="appointment != null">
        appointment = #{appointment,jdbcType=TIMESTAMP},
      </if>

      <if test="addressId != null">
        address_id = #{addressId,jdbcType=BIGINT},
      </if>

      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>

      <if test="pickCode != null">
        pick_code = #{pickCode,jdbcType=VARCHAR},
      </if>

      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>

      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>

      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>

      <if test="isShow != null">
        is_show = #{isShow,jdbcType=SMALLINT},
      </if>

      <if test="isDel != null">
        is_del = #{isDel,jdbcType=SMALLINT},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbyte.easy.recycle.entity.RecycleOrder">
    update recycle_order
    <set>
       <if test="orderNo != null">
         order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
       <if test="userId != null">
         user_id = #{userId,jdbcType=BIGINT},
      </if>
       <if test="courierId != null">
         courier_id = #{courierId,jdbcType=BIGINT},
      </if>
       <if test="price != null">
         price = #{price,jdbcType=DECIMAL},
      </if>
       <if test="appointment != null">
         appointment = #{appointment,jdbcType=TIMESTAMP},
      </if>
       <if test="addressId != null">
         address_id = #{addressId,jdbcType=BIGINT},
      </if>
       <if test="phone != null">
         phone = #{phone,jdbcType=VARCHAR},
      </if>
       <if test="pickCode != null">
         pick_code = #{pickCode,jdbcType=VARCHAR},
      </if>
       <if test="status != null">
         status = #{status,jdbcType=SMALLINT},
      </if>
       <if test="createtime != null">
         createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
       <if test="updatetime != null">
         updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
       <if test="isShow != null">
         is_show = #{isShow,jdbcType=SMALLINT},
      </if>
       <if test="isDel != null">
         is_del = #{isDel,jdbcType=SMALLINT},
      </if>
    </set>
       where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbyte.easy.recycle.entity.RecycleOrder">
    update recycle_order
    set
        order_no = #{orderNo,jdbcType=VARCHAR},
        user_id = #{userId,jdbcType=BIGINT},
        courier_id = #{courierId,jdbcType=BIGINT},
        price = #{price,jdbcType=DECIMAL},
        appointment = #{appointment,jdbcType=TIMESTAMP},
        address_id = #{addressId,jdbcType=BIGINT},
        phone = #{phone,jdbcType=VARCHAR},
        pick_code = #{pickCode,jdbcType=VARCHAR},
        status = #{status,jdbcType=SMALLINT},
        createtime = #{createtime,jdbcType=TIMESTAMP},
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
        is_show = #{isShow,jdbcType=SMALLINT},
        is_del = #{isDel,jdbcType=SMALLINT},

       where id = #{id,jdbcType=BIGINT}
  </update>
-->
</mapper>