<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbyte.easy.recycle.mapper.ShopOrderMapper">
  <resultMap id="BaseResultMap" type="com.mbyte.easy.recycle.entity.ShopOrder">
      <id column="id" jdbcType="BIGINT" property="id" />
      <id column="status" jdbcType="SMALLINT" property="status" />
      <id column="order_no" jdbcType="VARCHAR" property="orderNo" />
      <id column="user_id" jdbcType="BIGINT" property="userId" />
      <id column="createtime" jdbcType="TIMESTAMP" property="createtime" />
      <id column="price" jdbcType="DECIMAL" property="price" />
      <id column="address_id" jdbcType="BIGINT" property="addressId" />
      <id column="phone" jdbcType="VARCHAR" property="phone" />
      <id column="express" jdbcType="VARCHAR" property="express" />
      <id column="is_show" jdbcType="SMALLINT" property="isShow" />
      <id column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
      <id column="id_del" jdbcType="SMALLINT" property="idDel" />

  </resultMap>
  <sql id="Base_Column_List">
              id,
      status, order_no, user_id, createtime, price, address_id, phone, express, is_show, updatetime, id_del
  </sql>
    <insert id="addOrder" useGeneratedKeys="true" keyProperty="id" parameterType="com.mbyte.easy.recycle.entity.ShopOrder">
        insert into shop_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="status != null">
                status,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="addressId != null">
                address_id,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="express != null">
                express,
            </if>
            <if test="isShow != null">
                is_show,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="isDel != null">
                is_del,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="status != null">
                #{status,jdbcType=SMALLINT},
            </if>

            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>

            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>

            <if test="createtime != null">
                 #{createtime,jdbcType=TIMESTAMP},
            </if>

            <if test="price != null">
                 #{price,jdbcType=DECIMAL},
            </if>

            <if test="addressId != null">
               #{addressId,jdbcType=BIGINT},
            </if>

            <if test="phone != null">
                 #{phone,jdbcType=VARCHAR},
            </if>

            <if test="express != null">
                #{express,jdbcType=VARCHAR},
            </if>

            <if test="isShow != null">
                #{isShow,jdbcType=SMALLINT},
            </if>

            <if test="updatetime != null">
                 #{updatetime,jdbcType=TIMESTAMP},
            </if>

            <if test="isDel != null">
                #{isDel,jdbcType=SMALLINT},
            </if>

        </trim>
    </insert>

<!--注意:在打开下面注释的时候，在执行添加和更新操作时，一定要添加事物，否则会造成无法添加和更新-->
<!--
 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop_order
       where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from  shop_order
       where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mbyte.easy.recycle.entity.ShopOrder">
    insert into shop_order (status, order_no, user_id, createtime, price, address_id, phone, express, is_show, updatetime, id_del)
    values (
         status = #{status,jdbcType=SMALLINT},
         order_no = #{orderNo,jdbcType=VARCHAR},
         user_id = #{userId,jdbcType=BIGINT},
         createtime = #{createtime,jdbcType=TIMESTAMP},
         price = #{price,jdbcType=DECIMAL},
         address_id = #{addressId,jdbcType=BIGINT},
         phone = #{phone,jdbcType=VARCHAR},
         express = #{express,jdbcType=VARCHAR},
         is_show = #{isShow,jdbcType=SMALLINT},
         updatetime = #{updatetime,jdbcType=TIMESTAMP},
         id_del = #{idDel,jdbcType=SMALLINT}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.mbyte.easy.recycle.entity.ShopOrder">
    insert into shop_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="status != null">
        status,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="express != null">
        express,
      </if>
      <if test="isShow != null">
        is_show,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="idDel != null">
        id_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>

      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>

      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>

      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>

      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>

      <if test="addressId != null">
        address_id = #{addressId,jdbcType=BIGINT},
      </if>

      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>

      <if test="express != null">
        express = #{express,jdbcType=VARCHAR},
      </if>

      <if test="isShow != null">
        is_show = #{isShow,jdbcType=SMALLINT},
      </if>

      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>

      <if test="idDel != null">
        id_del = #{idDel,jdbcType=SMALLINT},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mbyte.easy.recycle.entity.ShopOrder">
    update shop_order
    <set>
       <if test="status != null">
         status = #{status,jdbcType=SMALLINT},
      </if>
       <if test="orderNo != null">
         order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
       <if test="userId != null">
         user_id = #{userId,jdbcType=BIGINT},
      </if>
       <if test="createtime != null">
         createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
       <if test="price != null">
         price = #{price,jdbcType=DECIMAL},
      </if>
       <if test="addressId != null">
         address_id = #{addressId,jdbcType=BIGINT},
      </if>
       <if test="phone != null">
         phone = #{phone,jdbcType=VARCHAR},
      </if>
       <if test="express != null">
         express = #{express,jdbcType=VARCHAR},
      </if>
       <if test="isShow != null">
         is_show = #{isShow,jdbcType=SMALLINT},
      </if>
       <if test="updatetime != null">
         updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
       <if test="idDel != null">
         id_del = #{idDel,jdbcType=SMALLINT},
      </if>
    </set>
       where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mbyte.easy.recycle.entity.ShopOrder">
    update shop_order
    set
        status = #{status,jdbcType=SMALLINT},
        order_no = #{orderNo,jdbcType=VARCHAR},
        user_id = #{userId,jdbcType=BIGINT},
        createtime = #{createtime,jdbcType=TIMESTAMP},
        price = #{price,jdbcType=DECIMAL},
        address_id = #{addressId,jdbcType=BIGINT},
        phone = #{phone,jdbcType=VARCHAR},
        express = #{express,jdbcType=VARCHAR},
        is_show = #{isShow,jdbcType=SMALLINT},
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
        id_del = #{idDel,jdbcType=SMALLINT},

       where id = #{id,jdbcType=BIGINT}
  </update>
-->
</mapper>